@import 'mixins';

.Card{
    height: 22rem;
    width: 20rem;
    border: 3px solid grey;
    background-color: white;
    margin: none;
    img{
        height: 10rem;
        width: 100%;
        border-bottom: 1px solid black;
    }

    @media screen and (max-width: 356px){
        width: 18rem;
        height: 23rem;
    }
    @media screen and (min-width: 1200px){
        height: 22rem;
        width: 23rem;
    }
}


.BtnContainer{
    display: flex;
    gap: 2rem;
    justify-content: center;
    border-top: 2px solid grey;
    padding-top: .5rem;   
    

    
}


