@import 'mixins';

.Background{
    @include Background;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Container{
    height: 40rem;
    width: 120%;

    @media screen and (min-width: 851px){
        width: 50rem;
    }
    
   

    .error{
        margin-top: 1vw;
        display: flex;
        color: red;
        justify-content: center;
        flex-direction: column;
    }

    span{
        display: flex;
        justify-content: center;
        gap: 1.5em;
    }

    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
         gap: 1rem;
         border: 2px solid #929191;
         border-radius: 10px;
         height: 30rem;
         margin-top: 1em;

         input{
            width: 95%;
            height: 3rem;
            border-radius: 7px;
         }

         textarea{
            width: 95%;
            height: 8rem;
         }
         

         
    }

    
}