@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
@import 'mixins';
.background{
    height:100vh;
    color: white;
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.title{
    justify-content: center;
    display: flex;
    font-size: 1.75rem; 
    font-family: 'Source Code Pro';
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    
    @media screen and (min-width: 769px){
        font-size: 4rem;
    }
   
}

.linkContainer{
    align-self: center;
    border-top: .25rem solid white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    @media screen and (min-width: 750px){
        font-size: 3rem;
        width: 35rem;
        justify-content: center;
        gap: 60px;
    }

    
    
    a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        @media screen and (min-width: 769px){
            font-size: 2.25rem;
        }
        
    }
        
    a:hover{
        color: grey;
    }
}

.links{
    padding: 2rem;
    padding-top: 2rem;
    text-decoration: none;
    color:white;
}





