@import 'mixins';

.nav{
    margin: 0;
    padding: 0;
}


.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B3B3B;
    color: white;

    button{
        border: none;
        background: none;
        cursor: pointer;
        position: absolute;
        top: .5rem;
        right: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 31px;
        height: 21px;
        margin-top: 5px;
        
        @media(max-width: 850px ){
            display: flex!important;
        }

        div{
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 25px;
        }
    }

    @media(max-width: 850px ){
        flex-direction: column;
        align-items: flex-start;
    }
}

.Brand{
    font-size: 1.5rem;
    color: white;
    margin: .5rem;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    // @include scrn1024{
    //     font-size: 2rem;
    // }
    // @include scrn768{
    //     font-size:1rem;
    // }
}

.LinksContainer{
    ul{
        margin:0;
        padding:0;
        margin-right: 4rem;
        display: flex;
        
    }
    li{
        list-style: none;
        padding: 0 2rem;
        font-size: 1.25rem;

        @include scrn1024{
            font-size: 1.5rem;
        }
        @include scrn768{
            font-size:1rem;
        }
        
    }
    li:hover{
        background-color: #858484;
    }

    a{
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
        padding-right: 1rem;
    }


    @media(max-width: 850px ){
        display: none;
        width: 100%;

        ul{
            z-index:1000;
            width: 100%;
            flex-direction: column;
            margin: 0;
        }

        li{
            text-align: center;
        }
        a{
            padding: .5rem 1rem;
        }
    }
}





